body{
  background-color: #0D3B4C;
  color: white;
}

.gb-container{
  width: 60%;
  margin: 0 auto;
}

.gb-box{
  background-color: rgb(182, 52, 52);
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  min-height: 300px;
}

h1{
  font-weight: 900;
}

p{
  font-size: 2rem;
}

.gatsby-1{
  display: none;
  width: 40%;
  box-shadow: 0 0 10px rgb(62, 10, 10);
  border-radius: 10px;
}

.gatsby-2{
  display: none;
  width: 40%;
  box-shadow: 0 0 10px rgb(62, 10, 10);
  border-radius: 10px;
}

.active{
  display: inline-block;
}

